@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  padding-top: 4rem;
}

#about, #features, #contact {
  scroll-margin-top: 4rem;
}